body{
	background-color: #2eb82e;
	font-weight: bold;
	color: white;
	text-shadow: -1px 1px black;
}
.bordered{
	border: solid 4px #248f24;
	border-radius: 10px;
}
.wrapper{
	width: 1080px;
	margin: auto;
	display: flex;
}
.status{
	height: 500px;
	width: 200px;
	float: left;
	margin: 50px 20px 10px;
	padding: 25px 10px;
	font-size: 25px;
	text-align: center;
}
.status input{
	height: 30px;
	font-size: 25px;
	width: 180px;
	background-color: lightgray;
	margin-bottom: 20px;
	text-align: right;
	padding-right: 3px;
}
#level{
	margin: 80px 0px 10px;
}
button{
	height: 35px;
	width: 115px;
	background-color: #0099ff;
	border: solid 3px;
	border-radius: 7px;
	cursor: pointer;
}
button:hover{
	background-color: #99d6ff;
}
.status p{
	margin: 0px;
}
.mid{
	width: 540px;
	margin: 0px auto;
}
.game{
	width: 540px;
	height: 540px;
	margin: auto;
	margin-bottom: 10px;
	float: left;
}
.celula{
	width: 80px;
	height: 80px;
	float: left;
	margin: 5px;
}
.info{
	text-align: right;
	font: Comic Sans MS, Comic Sans;
	font-size: 20px;
	color: white;
	padding-right: 10px;
	box-sizing: border-box;
}
.info p{
	margin: 12px;
}
.name{
	text-align: center;
	font-size: 30px;
	margin: 10px auto;
	width: 300px;
}
.name p{
	margin: 0px;
}
.divCard {
	position: relative;
	background-image: url("imagens/tapped.png");
}
.gameOver{
	width: 300px;
	position: absolute; left: 50%; top: 40%;
	background: #2eb82e;
	margin-left: -150px;
	text-align: center;
	font-size: 30px;
	padding: 0 0 10px;
}
.gameOver p{
	margin: 10px;
}
#explosion{
	width: 160px;
	position: relative; top: -160px; left: -35px;	
}
.divMemo{
	margin-top: 15px;
	display: inline-block;
	width: 190px;
	height: 180px;
	padding: 10px 0 0 0;
}
.memoCard{
	display: inline-block;
	margin: 10px;
	width: 60px;
	height: 60px;
	border: solid 3px #2eb82e;
}
#memory{
	padding: 1px;
	font-size: 20px;
	margin: auto;
	position: relative;
	top: 25px;
	background: #2eb82e;
	width: 75px;
}
.memoImg{
	width: 100%;
	cursor: pointer;
}
.checked{
	border: solid 3px white;
	border-radius: 3px;
}
.smallVoltorb{
	position: absolute;
	top: 7px;
	left: 7px;
}
.smallX1{
	position: absolute;
	top: 7px;
	left: 53px;
}
.smallX2{
	position: absolute;
	top: 50px;
	left: 7px;
}
.smallX3{
	position: absolute;
	top: 51px;
	left: 53px;
}